#import-content .import-page-header,.import-page-container {
    font-size: 20px;
    height:15%;
    margin: 23px;
    background-color: #ffffff;
   
    
}
.import-name{
    color:#ff914d ;
}

.import-page-container{
    height: auto !important;
    padding-top: 1px;
}
#container #import-content {
    position: absolute;
    right: 0;
    width: 85%;
    height: 100vh;
}
#import-content .import-page-header  {
    display: flex ;
    align-items: center;
    justify-content: center;
}

.import-page-container .css-all-container ul{
    list-style: none;
    display: flex;
    margin-left :10%;
    margin-top: 4%;
}
.css-all-container ul li:nth-child(1){
    margin-right: 3%;
    width:10%;
}
.import-page-container .submit-import{
    margin-left:30%;
   
}
.css-all-container input{
    width:600px;
    height:32px;
    background-color: blanchedalmond;
    font-size: 20px;
}
.css-all-container select{
    width:80px;
    height:30px;
    font-size: 20px;
    background-color: blanchedalmond;
}
#submit-import{
    width: 150px;
    height: 40px;
    margin-bottom: 50px;
    color: rgb(22, 21, 21);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background-color: #ff914d;
    font-size: 20px;
}
#submit-import:active {
    transform: translateY(-10px); /* Nút sẽ di chuyển lên 5px khi nhấn */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm bóng mờ */
}
