<html lang="vi">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phiếu Thu</title>
    <link rel="stylesheet" href="css/receipt.css" />
  </head>

  <body>
    <div id="receipt-content" class="content-page">
      <h2 class="receipt_lable">Phiếu Thu Tiền</h2>
      <div class="box-input">
        <!-- phần nhập dữ liệu -->
        <div>
          <ul class="lable_input">
            <li>Tên đại lý</li>
            <li>Địa chỉ (quận)</li>
            <li>Điện thoại</li>
            <li>Email</li>
            <li>Ngày thu tiền</li>
            <li>Số tiền thu</li>
          </ul>

          <!-- Nhập dữ liệu  -->
          <ul class="input_content">
            <li><input type="text" name="input_name" class="name" /></li>
            <li><input type="text" name="input_address" /></li>
            <li><input type="text" name="input_phone" /></li>
            <li><input type="email" name="input_email" /></li>
            <li><input type="date" name="input_date" /></li>
            <li><input type="number" name="input_price" /></li>
          </ul>
        </div>
        <div>
          <button class="create_receipt" onclick="createReceipt()">
            Lập phiếu
          </button>
        </div>
      </div>
      <div class="space"></div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"
    ></script>
    <script src="js/receipt.js"></script>
  </body>

</html>