<link rel="stylesheet" href="css/report.css" />

<div id="report-content" class="content-page">
  <div class="report-page-header">
    <h1 class="heading">Báo cáo tháng</h1>
    <div class="form-report">
      <label for="month">Tháng
        <input
          type="number"
          id="month"
          name="month"
          min="1"
          max="12"
          step="1"
          placeholder="Nhập tháng"
          required
        />
      </label>
      <label for="year">Năm
        <input
          type="number"
          id="year"
          name="year"
          min="2020"
          max="2024"
          step="1"
          placeholder="Nhập năm"
          required
        />
      </label>
    </div>

    <div class="type-report">
      <a>Loại báo cáo </a>
      <label for="opt-1">
        <input type="radio" id="opt-1" name="type" value="opt-1" />Báo cáo doanh
        thu
      </label>
      <label for="opt-2">
        <input type="radio" id="opt-2" name="type" value="opt-2" />Báo cáo công
        nợ
      </label>
    </div>
    <div class="btn-report-page">
      <button class="btn-report-writing">Lập báo cáo</button>
    </div>
  </div>
  <div class="report-page-content">
    <div class="report hidden need-reset">
      <div class="download">
        <p class="date"></p>
        <button class="btn-download">Tải xuống</button>
      </div>
      <div class="revenue-table hidden">
        <h1>Báo cáo doanh thu</h1>
        <table>
          <thead>
            <tr>
              <th>STT</th>
              <th>Đại lý</th>
              <th>Số phiếu xuất</th>
              <th>Tổng giá trị(đồng)</th>
              <th>Tỉ lệ</th>
            </tr>
          </thead>
          <tbody class="revenue-body"></tbody>
        </table>
      </div>
      <div class="debt-table hidden">
        <h1>Báo cáo công nợ</h1>
        <table>
          <thead>
            <tr>
              <th>STT</th>
              <th>Đại lý</th>
              <th>Nợ đầu(đồng)</th>
              <th>Phát sinh(đồng)</th>
              <th>Nợ cuối(đồng)</th>
            </tr>
          </thead>
          <tbody class="debt-body"></tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="space"></div>
</div>