<link rel="stylesheet" href="css/search.css" />

<div id="search-content" class="content-page">
  {{! Viết thêm vào đây }}
<<<<<<< HEAD
  <div class="search search-page-header">
    <ul>
      <li><p id="title-search">Nhập tên đại lý</p></li>
      <li>
        <input
          type="text"
          id="search-agent"
          placeholder="Nhập tên đại lý"
        /></li>
      <li><button id="search-button">Tra Cứu</button></li>
    </ul>
  </div>
  <div id="listtable-container">
    <div class="search-text hidden">
      <span>Kết quả tra cứu</span>
    </div>
    <div id="agent-list"></div>
  </div>
  {{!  }}
  <div class="space"></div>
</div>
<script src="js\search.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js"></script>
=======
   <div class="search">
            <p id="title-search">Nhập tên đại lý</p>
            <input type="text" id="search-agent" placeholder="Nhập tên đại lý"/>
            <button id="search-button">Tra Cứu</button>
        </div>
        <div id="listtable-container">
            <h2 id="text">Kết quả tra cứu</h2>
            <div id="agent-list"></div>
        </div>
  {{!  }}
  <div class="space"></div>
</div>
 <script src="js\search.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/fuse.js"></script>
>>>>>>> e56de7a173bce1a37b85169bd82c930fc74bb9ca
